<mat-card class="order-details-card" appearance="outlined">
    <mat-card-header>
        <mat-icon matIconSuffix>article</mat-icon>
        <mat-card-title-group>
            <mat-card-title>Order ID: {{ orderId }}</mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <h3><mat-icon matIconPrefix>map</mat-icon>Real-time e-commerce order tracking</h3>
        <div class="map__container">
            <div #mapContainer
                 class="map__canvas"
                 aria-label="Carte des interventions">
            </div>
        </div>
    </mat-card-content>
</mat-card>

